@model List<BookSellingProject.Models.ViewModels.CartViewModel>

@{
    ViewData["Title"] = "Cart";
}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a asp-controller="Home" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">

                        @if (Model is not null && Model.Any())
                        {
                            <form asp-action="Update" asp-controller="Carts" method="post">
                                <table class="table-shopping-cart">
                                    <tr class="table_head">
                                        <th class="column-1">Image</th>
                                        <th class="column-2">Name</th>
                                        <th class="column-3">Price</th>
                                        <th class="column">Quantity</th>
                                        <th class="column-5">Sub-total</th>
                                        <th class="column-6">Operation</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="table_row">
                                            <td class="column-1">
                                                <div class="how-itemcart1">
                                                    <img src="@item.Book.Image" alt="IMG">
                                                </div>
                                            </td>
                                            <td class="column-2">@item.Book.Name</td>
                                            <td class="column-3">@item.Book.Price VND</td>
                                            <td class="column-4">
                                                <input type="text" hidden readonly name="Id" value="@item.Id">
                                                <input class="num-order mtext-104 txt-center bg-light" style="width: 80px;" min="1" type="number" name="@item.Id" value="@item.Quantity">
                                            </td>

                                            <td class="column-5" id="sub_total-@item.Id">@item.SubTotal VND</td>
                                            <td class="column-6"><a class="btn btn-danger" asp-controller="Carts" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                                        </tr>
                                    }
                                </table>
                            </form>
                        }
                        else
                        {
                            <p>There is no items in your Cart!</p>
                        }


                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">

                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>
                        </div>

                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            Delete Cart
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2" id="total">
                                @{
                                    var sum = 0;

                                    if (Model is not null)
                                    {
                                        sum = @Model.Sum(cart => cart.SubTotal);
                                    }
                                }
                                @sum VND
                            </span>
                        </div>
                    </div>

                    <a asp-controller="Checkout" asp-action="Index" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
        $(".num-order").change(function () {

            let id = $(this).attr('name');

            let quantity = $(this).val();

            let data = {
                Id: id,
                Quantity: quantity,
            };

            console.log(data);

            $.ajax({
                url: "https://localhost:7088/Carts/Update",
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    $("#sub_total-" + id).text(data.subTotal + 'VND');
                    $('#total').text(data.total + 'VND');
                },
            });
        })

    </script>
}